.catalog {
    width: 100%;
    max-width: 69.375rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}

.catalog_btns {
    margin-top: 3.625rem;
    margin-bottom: 3.4375rem;
    display: flex;
    justify-content: center;
}

.catalog_btn {
    display: inline-block;
    font-family: Oswald;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--color-dark);
    margin: 0 1.3125rem;
    position: relative;
}

.catalog_btn:focus, .catalog_btn:hover {
    color: var(--color-accent);
}

.catalog_btn:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0.125rem;
    left: 0;
    bottom: -0.375rem;
    background: var(--color-accent);
    transition: width 0.3s ease;
}

.catalog_btn:focus:after, .catalog_btn:hover:after {
    width: 100%;
}

.catalog_boxes {
    display: grid;
    grid-template-columns: repeat(3, 21.875rem);
    column-gap: 1.875rem;
    margin-top: 4rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.catalog_box {
    width: 21.875rem;
    height: 18.75rem;
    position: relative;
    overflow: hidden;
}

.catalog_box-img {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}

.catalog_box-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.catalog_box-content {
    position: absolute;
    bottom: 0.875rem;
    right: 0;
    width: 16.5625rem;
    height: 5.375rem;
    background: var(--color-accent);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 10;
}

.catalog_box-text {
    font-family: Oswald;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: normal;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--color-light);
    padding-left: 1.3125rem;
    width: 13rem;
}

@media screen and (max-width: 1110px) {
    .catalog_boxes {
        grid-template-columns: repeat(2, 21.875rem);
    }
}

@media screen and (max-width: 768px) {
    .catalog_btns {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }

    .catalog_btn {
        font-size: 1rem;
        line-height: 1.5rem;
        margin: 0 1rem;
    }

    .catalog_boxes {
        grid-template-columns: repeat(2, minmax(10rem, 15.625rem));
        row-gap: 1.88rem;
        margin-top: 2.5rem;
    }

    .catalog_box {
        width: 100%;
        height: 12.1875rem;
    }

    .catalog_box-content {
        right: 4rem;
        width: 7.8125rem;
        height: 3.8125rem;
        bottom: 0.875rem;
    }

    .catalog_box-text {
        font-size: 0.625rem;
        width: 6.25rem;
    }
}

@media screen and (max-width: 696px) {
    .catalog_box-content {
        right: 0.875rem;
    }
}

@media screen and (max-width: 480px) {
    .catalog_btns {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .catalog_btn {
        font-size: 0.875rem;
        line-height: 1.25rem;
        margin: 0 0.5rem;
    }

    .catalog_boxes {
        grid-template-columns: minmax(10rem, 15.625rem);
        margin-top: 1rem;
    }
}

@media screen and (max-width: 320px) {
    .catalog_boxes {
        margin-top: 0.56rem;
    }
}