footer {
    background-color: var(--color-accent);
    min-height: 15.9375rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2.38rem 0;
    margin-top: 0;
}

.footer_container {
    width: 69.375rem;
    display: flex;
    flex-direction: column;
}

.footer_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 11.31rem;
}

.footer_header--tel {
    color: var(--color-light);
    font-family: 'Oswald', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}

.footer_header--adress, 
.footer_header--mail {
    color: var(--color-light);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}

.footer_header--tel:hover, 
.footer_header--adress:hover, 
.footer_header--mail:hover, 
.footer_body-link:hover {
    color: var(--color-link-hover);
}

.footer_divider {
    width: 100%;
    height: 0.0625rem;
    background: var(--color-light);
    margin: 1.5rem 0;
}

.footer_body {
    display: flex;
    justify-content: space-between;
    gap: 7.5rem;
}

.footer_body--box {
    display: flex;
    flex-direction: column;
    gap: 0.69rem;
}

.footer_body-link {
    color: var(--color-light);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    text-decoration: none;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 37.12rem;
}

.footer_bottom--text {
    color: var(--color-light);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
}

@media (max-width: 1150px) {
    .footer_container {
        width: 90%;
        padding: 0 1rem;
    }
    .footer_header { 
        gap: 2rem; 
    }
    .footer_body { 
        gap: 2rem; 
    }
    .footer_bottom { 
        gap: 5rem; 
    }
}
