.hero {
    position: relative;
    background: url(../assets/background.svg);
    background-size: cover;
    background-position: center;
    height: 50rem;
    width: 100%;
}

.first_screen--rectangle {
    position: absolute;
    width: 27.75rem;
    height: 45rem;
    top: 5rem;
    left: 25.31rem;
    background: var(--color-accent-transparent);
    z-index: 10;
    transition: width var(--transition-duration) ease, height var(--transition-duration) ease, left var(--transition-duration) ease;
}

.first_screen--content {
    position: absolute;
    width: 39.6875rem;
    max-width: 100%;
    height: 19.8125rem;
    top: calc(5rem + 12.63rem);
    left: 37.19rem;
    z-index: 15;
    display: flex;
    flex-direction: column;
    transition: all var(--transition-duration) ease;
}

.content_title {
    width: 39.6875rem;
    max-width: 100%;
    color: var(--color-light);
    font-family: Oswald;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0.03rem;
    margin-bottom: 2.5rem;
}

.content_subtitle {
    width: 27.8125rem;
    max-width: 100%;
    color: var(--color-light);
    font-family: "Open Sans";
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2.5rem;
}

.content_btn {
    display: flex;
    width: 10rem;
    height: 3.1875rem;
    border: 0.125rem solid var(--color-light);
    background: none;
    color: var(--color-light);
    text-align: center;
    font-family: "Open Sans";
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    transition: background var(--transition-duration) ease, transform var(--transition-duration) ease;
}

.content_btn:hover {
    background: var(--color-accent);
    transform: scale(1.05);
    cursor: pointer;
}

@media screen and (max-width: 1110px) {
    .first_screen--rectangle {
        left: calc((100% - 27.75rem) / 2);
    }

    .first_screen--content {
        left: calc((100% - 39.6875rem) / 2);
    }
}

@media screen and (max-width: 768px) {
    .hero {
        height: 64rem;
    }

    .first_screen--content {
        top: calc(5rem + 19.56rem);
        left: 4.13rem;
    }

    .first_screen--rectangle {
        width: 21.3125rem;
        height: 59rem;
        left: 0;
    }
}

@media screen and (max-width: 320px) {
    .hero {
        height: 35.5rem;
    }

    .first_screen--content {
        width: 16.5625rem;
        height: 12.25rem;
        top: calc(5rem + 9.12rem);
        left: 1.5rem;
    }

    .content_title {
        width: 16.5625rem;
        height: 3.75rem;
        font-size: 1.25rem;
        letter-spacing: 0.0125rem;
        margin-bottom: 1.25rem;
    }

    .content_subtitle {
        width: 16.5625rem;
        height: 1.75rem;
        font-size: 0.625rem;
        margin-bottom: 1.25rem;
    }

    .content_btn {
        width: 6.5625rem;
        height: 1.81019rem;
        font-size: 0.625rem;
        letter-spacing: 0.03125rem;
    }

    .first_screen--rectangle {
        width: 9.375rem;
        height: 30.5rem;
        left: 0;
        top: 5rem;
    }
}