@import './css/header.css';
@import './css/hero.css';
@import './css/projects.css';
@import './css/catalog.css';
@import './css/rent.css';
@import './css/news.css';
@import './css/footer.css';

:root {
    --color-light: white;
    --color-dark: #343434;
    --color-gray: #979797;
    --color-accent: #005BC1;
    --color-accent-transparent: rgba(0, 91, 193, 0.60);
    --color-accent-dark: #0040a8;
    --color-link-hover: #ffd700;
    --transition-duration: 0.5s;
    --button-bg: #eee;
    --button-hover: #ccc;
    --button-active: #ffd700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: color var(--transition-duration) ease, background-color var(--transition-duration) ease;
}

body {
    color: var(--color-dark);
    background-color: var(--color-light);
}

body.dark-theme {
    color: var(--color-light);
    background-color: var(--color-dark);
}

a, a:visited, a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 9.13rem;
}

.section-title {
    margin-bottom: 1rem;
    font-family: Oswald;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 2.75rem;
    letter-spacing: 0.09375rem;
    text-transform: uppercase;
    color: var(--color-dark);
    position: relative;
    padding-left: 11.25rem;
    display: flex;
    align-items: center;
    min-width: 0;
}

.section-title .title-decor {
    position: absolute;
    left: 0;
    top: 0.813rem;
    width: 6.25rem;
    height: 0.1875rem;
    background: var(--color-accent);
}

.section-title .title-decor:before {
    content: "";
    position: absolute;
    width: 3.125rem;
    height: 0.1875rem;
    right: 0;
    top: 0.75rem;
    background: var(--color-accent);
}

@media screen and (max-width: 1110px) {
    main {
        gap: 7.5rem;
    }
}

@media screen and (max-width: 768px) {
    main{
        gap: 3.13rem;
    }

    .section-title {
        padding-left: 6.5rem;
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    .section-title .title-decor {
        width: 5rem;
        top: 0.625rem;
    }

    .section-title .title-decor:before {
        width: 2.5rem;
    }
}

@media screen and (max-width: 696px) {
    .section-title {
        padding-left: 5.25rem;
        font-size: 1.25rem;
        line-height: 1.5rem;
        white-space: nowrap;
    }

    .section-title .title-decor {
        width: 3.75rem;
        top: 0.625rem;
    }

    .section-title .title-decor:before {
        width: 1.875rem;
        height: 0.1875rem;
        top: 0.75rem;
    }
}

@media screen and (max-width: 480px) {
    .section-title {
        padding-left: 4.9375rem;
        max-width: 7rem;
    }

    .section-title .title-decor {
        width: 3.9375rem;
    }

    .section-title .title-decor:before {
        width: 1.96875rem;
    }
}

@media screen and (max-width: 400px){
    .section-title {
        padding-left: 4.5rem;
        font-size: 1rem;
        line-height: 1.25rem;
    }

    .section-title .title-decor {
        width: 3.9375rem;
        top: 0.5rem;
    }

    .section-title .title-decor:before {
        width: 1.96875rem;
    }
}